# JS Stuffs
/node_modules

# outputs
/.docusaurus
/build/
# This directory is used as an output for temporary file, ignore everything
static/api/*
!static/api/.gitkeep

# Backup of "sed-ed" files
*.bak

# ideas folder
.idea/*

# svg files
**.svg

# old stuff
**/archive/
