.hero {
  background-color: var(--ifm-navbar-background-color);
  background-image: linear-gradient(
    var(--ifm-navbar-background-color),
    var(--ifm-hero-background-color-bottom)
  );
  color: var(--ifm-font-color-base-inverse);
}

.hero strong {
  font-weight: bolder;
}

.hero a:not(:global(.button)) {
  color: var(--ifm-font-color-base-inverse);
}


.hero :global(.button--primary) {
  --ifm-button-background-color: var(--ifm-color-content-inverse);
  --ifm-button-border-color: var(--ifm-color-content-inverse);
  --ifm-button-color: var(--ifm-font-color-base);
}

.hero :global(.button--primary):hover {
  --ifm-button-background-color: var(--ifm-color-gray-300);
  --ifm-button-border-color: var(--ifm-color-gray-300);
}
